@charset "UFT-8";

.parallax {
    height: 90vh;
    width: 100%;
}

.parallax-img {
    height: 90vh;
    width: 100%;
    opacity: 0.8;
    background: black url(../../media/fotos/imagem-parallax-1.jpg) no-repeat fixed center bottom;
    background-size: cover;
    
    position: absolute;
    
}

.parallax-texto {
    text-align: center;
    position: relative;
    top: 20rem;
    box-sizing: border-box;
    padding: 0px 0px;
}

.parallax-texto h1 {
    font-size: 6rem;
}

.parallax-texto p {
    margin-top: 3rem;
}