@charset "UFT-8";



.sobre::after {
  display: block;
  content: " ";
  width: 12.8rem;
  height: 12.8rem;
  background: url(../../media/icones/detalhe.svg) no-repeat center;
  position: absolute;
  bottom: -115px;
}

.sobre {
  padding-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  position: relative;
}

.sobre-texto {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sobre-texto h2 {
  text-align: center;
}

.sobre-texto p {
  text-align: justify;
  line-height: 2;
  padding: 0rem 1rem 0rem 1rem;
}

.sobre-img img {
  object-fit: cover;
  height: 100%;
  margin: auto;
}

.whatsapp {
  display: flex;
  align-items: center;
  gap: 5px;
}

.whatsapp img {
  order: -1;
}

@media (max-width: 1000px) {
  .sobre::after {
    display: none;
  }
}

@media (max-width: 800px) {
  .sobre {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
