@charset "UFT-8";

.sobre {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}

.sobre-texto {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sobre-texto h2 {
    text-align: center;
}

.sobre-texto p {
    text-align: justify;
    line-height: 2;
    padding: 0rem 1rem 0rem 1rem;
}

.whatsapp {
    display: flex;
    align-items: center;
    gap: 5px;
}

.whatsapp img {
    order: -1;
}